@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Fraunces:opsz@9..144&family=Varela&display=swap');

h1{
	font-family: 'Cormorant Garamond', serif;
	font-size: 112.72px;
	letter-spacing: -0.04em;
	line-height: 90px;
	text-transform: uppercase;
	text-align: right;
}

header{
	font-family: 'Varela', sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 100px;
}

body{
	font-family: 'Varela', sans-serif;
	font-size: 23px;
	background-color: #FFFDF9;
}
p{
	line-height: 1.35;
	margin-bottom: 20px;
}
footer{
	font-family: 'Varela', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}
em{
	font-style: italic;
}
.header-quote{
	font-family: 'Fraunces', serif;
	color: #FF0000;
	font-size: 54px;
	line-height: 90px;
	text-align: left;
}
.text-uppercase{
	text-transform: lowercase;
}
.text-uppercase:first-letter{
	text-transform: uppercase;
}
.body-quote{
	font-family: 'Fraunces', serif;
	font-size: 40px;
	line-height: 35px;
}
.body-quote-color1{
	color: #E88614;
}
.body-quote-color2{
	color: #FED850;
}
.body-quote-color3{
	color: #0DA50A;
}
.body-quote-color4{
	color: #2D58F1;
}

